# Config file for automatic testing at travis-ci.org
sudo: false
language: python
python:
  - 3.9
  - 3.8
  - 3.7
  - 3.6

env:
  global:
  - secure: "<encrypted MYPYPI_USER=username>"
  - secure: "<encrypted MYPYPI_PASS=p@ssword>"

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
- pip install -U poetry
- pip install -U tox-travis


# Command to run tests, e.g. python setup.py test
script: tox

# Assuming you have installed the travis-ci CLI tool, after you
# create the Github repo and add it to Travis, run the
# following command to finish PyPI deployment setup:
# $ travis encrypt --add deploy.password

before-deploy:
- poetry config http-basic.mypypi $MYPYPI_USER $MYPYPI_PASS
- poetry build

deploy:
  provider: script
  script: poetry publish
  on:
    tags: true
    repo: schinckel/Django Shared Property
    branch: main
    python: 3.9
